body {
    color: rgb(203, 203, 203);
    background-color: #212121;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.8rem, 1.6vw, 1.5rem);
  }
  
  section {
    font-size: 150%;
    height: 40vh;
    width: 60vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  
  .alerta {
    height: 20vh;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 2vw;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
  }
  
  .contenedor {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1vw;
  }
  
  .columna {
    flex: 1;
    margin: 1vw;
    background: rgb(87, 87, 87);
    border-radius: 1vh;
    text-align: center;
  }
  