body {
    color: rgb(203, 203, 203);
    background-color: #212121;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;     /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    font-size: clamp(0.8rem, 1.6vw, 1.5rem); /* Tamaño de fuente adaptable */
  }
  
  section {
    font-size: 150%;
    height: 40vh;
    width: 60vw;
    padding: 1vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column; /* Cambia la dirección del contenedor a columna */
  }
  
  .alerta {
    height: 20vh;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top: 2vw; /* Un margen para separar la alerta */
    font-size: clamp(0.8rem, 2vw, 1.5rem);
  }
  
  .contenedor {
    display: flex;
    width: 100%;
    flex-direction: row; /* Las columnas siguen en fila */
    gap: 1vw; /* Espacio entre columnas */
  }
  
  .columna {
    flex: 1; /* Las columnas ocupan el mismo tamaño */
    margin: 1vw;
    background: rgb(87, 87, 87);
    border-radius: 1vh;
    text-align: center;
  }
  