body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
  max-width: 600px;
  min-width: 300px;
  box-shadow: #00000070 0.15vw 0.15vw 0.4vw;
  margin: 5vh auto;
  padding: 2vw;
  border: 0.2vw solid #ccc;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
  box-sizing: border-box;
  transition: width 0.1s ease, font-size 0.1s ease;
}

@media (min-width: 1000px) {
  form {
    width: 60vw;
    max-width: 600px;
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
  }
}

form h2 {
  text-shadow: #00000025 0.1vw 0.1vw 0.2vw;
  text-align: center;
  width: 100%;
  color: #333;
}

body h2 {
  font-size: 2rem
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li+li {
  margin-top: 2vh;
}

input:checked+label {
  font-weight: bold;
}

label {
  display: inline-block;
  width: 30%;
  text-align: right;
  font-size: inherit;
}

input,
textarea, select {
  font-size: inherit;
  width: 65%;
  border: 0.1vw solid #999;
  padding: 0.5vh;
}

input,
textarea {
  font-size: inherit;
  width: 65%;
  box-sizing: border-box;
  border: 0.1vw solid #999;
  padding: 0.5vh;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 10vh;
  resize: vertical;
}

.button {
  padding-left: 30%;
}

button {
  margin-left: 1vw;
  font-size: inherit;
  padding: 0.5vh 1vw;
}

.myf {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1.5vw;
}

.myf label {
  width: auto;
  margin: 0;
  font-size: inherit;
}

.myf input[type="radio"] {
  width: auto;
  height: auto;
  margin: 0;
}